body{
    width: 1280px;
    margin: 0 auto;
}
.bumbay{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding-left: 500px;
    background-color: blueviolet;
    transition: all 1s;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bumbay:hover{
    font-size: 150%;
    color: azure;
    text-decoration: underline;
}